/* ------------------------------------------- */
/* -- Basic Animations */
/* ------------------------------------------- */
%animation--menuFadeIn {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.65s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

/* ------------------------------------------- */
/* -- Placeholders */
/* ------------------------------------------- */

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%holder {
  max-width: $site-width + px;
  margin: 0 auto;
  position: relative;
  @extend %clearfix;
}

%naked-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

%button {
  padding: 8px 40px;
  background: $color--1;
  box-shadow: 2px 2px 10px $color--2;
  border-radius: 10px;
  font-family: $font--alt;
  font-style: normal;
  font-weight: 700;
  font-size: toRem(20);
  line-height: toRem(24);
  color: $color--white;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  transition: all 0.2s ease-in-out;

  &:hover {
    animation: shadowPulse 2s infinite ease-in-out;
  }

  svg {
    margin-left: 10px;
  }
}

.btn {
  @extend %button;
}

.w-100 {
  width: 100%;
}

//----------------------------------

* {
  box-sizing: border-box;
}

.chromeframe {
  position: absolute;
  top: 0;
  padding: 20px;
  background: #fff;
  color: #666;
}

@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}

/* -------------------------------------------------------------------------------*/

// scrollbar config
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
}

/* Basics + Fonts
---------------------------------- */
html {
  overflow: unset;
}

body {
  background-color: $color--5;
  color: $color--white;
  display: flex;
  font-family: $font--main;
  font-weight: 400;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  position: relative;
  overflow: unset;

  @include breakpoint(max-width $breakpoint--main - 1px) {
    -webkit-overflow-scrolling: touch;
  }

  &.menu-extended {
    @include breakpoint(max-width 1080px) {
      overflow: hidden;
    }
  }
}

img {
  backface-visibility: hidden;
  height: auto;
  max-width: 100%;
}

ul,
ol {
  padding-left: toRem(20);
}

p,
ul,
ol {
  color: rgba($color--white, 0.8);
  font-family: $font--main;
  font-size: toRem(14);
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 182%;
  margin: 0;

  a {
    color: $color--1;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  strong {
    font-weight: 500;
  }

  @include breakpoint($breakpoint--main + 0px) {
    font-size: toRem(15);
  }

  + p,
  + ul,
  + ol {
    margin-top: toRem(20);

    @include breakpoint($breakpoint--main + 0px) {
      margin-top: toRem(25);
    }
  }
}

.holder {
  @extend %holder;

  padding-left: 20px;
  padding-right: 20px;
}

/* Headers / Titles
================================= */
h1,
h2,
h3,
h4 {
  line-height: 120%;
}

h1,
h3 {
  font-weight: 400;
}

h2,
h4 {
  font-weight: 300;
}
h1 {
  font-size: toRem(40);

  @include breakpoint($breakpoint--main + 0px) {
    font-size: toRem(60);
  }
}
h2 {
  @include breakpoint($breakpoint--main + 0px) {
    font-size: toRem(40);
  }
}

h3 {
  font-size: toRem(30);

  @include breakpoint($breakpoint--main + 0px) {
    font-size: toRem(35);
  }
}
h4 {
  font-size: toRem(20);

  @include breakpoint($breakpoint--main + 0px) {
    font-size: toRem(24);
  }
}

input,
button {
  &:focus {
    outline: none;
  }
}

/* ---------- */

/* Links
================================= */

a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:focus {
  outline: none;
}

/* ---------- */

address {
  font-style: normal;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  appearance: none;
}

// main wrapper
.main--wrapper {
  flex: 1 0 auto;
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;

  > * {
    padding-left: toRem(10);
    padding-right: toRem(10);
  }
}

.visible--mobile {
  display: block;

  @include breakpoint($breakpoint--main + 0px) {
    display: none;
  }
}

.visible--desktop {
  display: block;

  @include breakpoint(max-width $breakpoint--main - 1px) {
    display: none;
  }
}

.pY-0 {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}

.overflow-hidden {
  overflow: hidden;
}
