.header--wrapper {
  display: block;
  min-height: toRem(75);
  position: relative;
  z-index: 99;

  @include breakpoint($breakpoint--main + 0px) {
    min-height: toRem(95);
  }

  &.floating--header {
    .header {
      background-color: transparent;
      // border-bottom: 1px solid gainsboro;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 99;

      &.header-sticky {
        background-color: $color--5;
        left: 0;
        position: fixed;
        top: -100%;
        width: 100%;
        z-index: 9999;
        padding: toRem(16) 0;
        box-shadow: -2px -2px 10px #fc004e;

        &.header-show {
          top: 0;
        }
      }
    }

    .main--menu {
      li {
        a {
          color: $color--4;

          &::after {
            background-color: $color--1;
          }
        }
      }
    }

    .toggle-menu {
      i {
        background-color: $color--white;
      }
    }
  }
}

.header {
  background-color: $color--5;
  padding: toRem(16) 0;
  position: relative;
  transition: all 0.3s ease;

  @include breakpoint($breakpoint--main + 0px) {
    padding: toRem(35) 0 toRem(10) 0;
  }

  > .holder {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include breakpoint($breakpoint--main + 0px) {
      align-items: flex-start;
    }
  }

  &.header-sticky {
    box-shadow: -2px -2px 10px #fc004e;
  }

  &__logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 0 0 50%;
    max-width: 50%;

    @include breakpoint(max-width $breakpoint--mainMax + 0px) {
      flex: 0 0 100%;
      max-width: 100%;
    }

    a {
      @include breakpoint(max-width $breakpoint--mainMax + 0px) {
        margin: 0 auto;
      }
    }

    h1,
    h2 {
      line-height: 0;
      margin: 0;
      transition: all 0.3s ease-in-out;
      transition-duration: 0.7s;

      &.site--logo {
        img {
          max-height: toRem(46);
          width: toRem(107);
          transition: all 0.3s ease-in-out;

          @include breakpoint($breakpoint--main + 0px) {
            width: toRem(174);
            max-height: toRem(74);
          }
        }
      }
    }
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 50%;
    max-width: 50%;

    @include breakpoint(max-width $breakpoint--mainMax + 0px) {
      flex: 0 0 100%;
      max-width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }

    .main--menu {
      display: flex;

      @include breakpoint(max-width $breakpoint--mainMax + 0px) {
        display: none;
      }
    }
  }

  &.header-sticky {
    left: 0;
    position: fixed;
    top: -100%;
    width: 100%;
    z-index: 9999;

    &.header-show {
      top: 0;
    }
  }

  &.nav-open {
    .toggle-menu {
      i {
        background-color: $color--white;
        position: relative;

        &:nth-child(1) {
          top: toRem(9);
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          top: -9px;
          transform: rotate(-45deg);
        }
      }
    }

    .nav-wrapper {
      opacity: 1;
      visibility: visible;
      box-shadow: -2px -2px 10px #fc004e;

      @include breakpoint($breakpoint--main + 0px) {
        max-height: 500px;
      }

      @include breakpoint(max-width $breakpoint--main - 1px) {
        max-height: 380px;
        height: 380px;
      }

      .toggle-menu {
        i {
          background-color: $color--white;
        }
      }
    }
  }
}

.toggle-menu {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  height: 35px;
  outline: 0;
  margin-right: toRem(29);
  padding: 0;
  position: relative;
  width: 20px;
  z-index: 991;
  transition: all 0.5s ease-in-out;
  display: none;

  @include breakpoint(max-width $breakpoint--mainMax + 0px) {
    display: block;
  }

  i {
    background-color: $color--white;
    display: block;
    height: 2px;
    width: 100%;
    transition: all 0.3s ease;

    + i {
      margin-top: toRem(7);
    }
  }
}

.main--menu {
  @extend %naked-list;

  @include breakpoint(1025px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  li {
    position: relative;
    text-align: center;

    a {
      font-family: $font--alt;
      font-style: normal;
      font-weight: 600;
      font-size: toRem(18);
      line-height: toRem(22);
      color: $color--4;
      text-decoration: none;
      position: relative;

      &::after {
        @include animate-line;
      }

      &:hover {
        text-decoration: none;

        &::after {
          @include animate-line-hover;
        }
      }
    }

    + li {
      @include breakpoint($breakpoint--main + 0px) {
        margin-left: toRem(40);
      }
    }
  }
}

.nav-wrapper {
  background-color: $color--5;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: toRem(16) 0;
  position: fixed;
  left: 0;
  top: 0;
  visibility: hidden;
  width: 100%;
  transition: all 0.5s ease-in-out;
  z-index: 9999;

  @include breakpoint($breakpoint--main + 0px) {
    padding: toRem(35) 0 toRem(10) 0;
  }

  @include breakpoint(max-width $breakpoint--main - 1px) {
    overflow-y: auto;
  }

  .header__content {
    display: flex;
    align-items: center;
    position: relative;

    .toggle-menu {
      position: absolute;
      right: -20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .toggle-menu {
    i {
      background-color: $color--white;
    }
  }
}

.main--nav-wrapper {
  padding: toRem(30) 0 0;
  width: 100%;

  @include breakpoint($breakpoint--main + 0px) {
    max-width: 100%;
    min-height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.main--nav {
  @extend %naked-list;
  position: relative;
  text-align: center;

  > li {
    + li {
      margin-top: toRem(20);

      @include breakpoint($breakpoint--main + 0px) {
        margin-top: toRem(30);
      }
    }

    > a {
      font-family: $font--alt;
      font-style: normal;
      font-weight: 600;
      font-size: toRem(18);
      line-height: toRem(22);
      color: $color--4;
      text-decoration: none;
      position: relative;

      &::after {
        @include animate-line;
      }

      &:hover {
        &::after {
          @include animate-line-hover;
        }
      }
    }
  }
}
