/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
/* ------------------------------------------- */
/* -- Reset */
/* ------------------------------------------- */

html,
body,
p,
blockquote,
figure,
fieldset,
textarea,
iframe {
  margin: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img,
embed,
iframe:not(.instagram-media):not(.wp-embedded-content),
object,
audio,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
