// Fonts
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

// ----- REM px function
$baseFontSize: 16;
@function toRem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return calc($pixels / $context) * 1rem;
}

// -- EM function
$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

/* ------------------------------------------- */
/* -- Colours + Variables */
/* ------------------------------------------- */

$site-width: 1018;

// Defsult space
$space: 20px;

$font--main: "Urbanist", sans-serif;
$font--alt: "Figtree", sans-serif;

$breakpoint--main: 768;
$breakpoint--mainMax: 767.98;

// Body copy colour
$color--body-copy: #343e47;

// Colours - eidt as needed
$color--white: #ffffff;
$color--black: #000000;

$color--1: #fc004e;
$color--2: #00e7f9;
$color--3: #ababab;
$color--4: #a9a9a9;
$color--5: #010101;
$color--6: #343e47;
